<%= render 'layouts/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :titulo %>
  <%= f.text_field :titulo, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :assunto %>
  <%= f.text_field :assunto, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :descricao %>
  <%= f.text_field :descricao, class: 'form-control' %>
</div>
