<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Meus Projetos</h1>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Titulo</td>
          <td>Assunto</td>
          <td>Descrição</td>
          <td colspan="3">

            <%= link_to 'Novo Projeto', new_project_path, class: 'btn btn-success' %>
          </td>
        </tr>
      </thead>
      <tbody>
        <% if @projects.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <h3>Sem projetos cadastrados.</h3>
              <%= link_to 'click aqui', new_project_path %> para cadastrar um novo contato
            </td>
          </tr>
        <% end %>
        <% @projects.each do |c| %>
        <tr>
          <td>
            <%= c.titulo %>
          </td>
          <td>
            <%= c.assunto %>
          </td>
          <td>
            <%= c.descricao %>
          </td>


          <td>
            <%= link_to 'Editar', edit_project_path(c), class: 'btn btn-warning' %>
          </td>
          <td>
            <%= link_to 'Excluir', project_path(c), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja excluir?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
