<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @project.titulo %>
</p>

<p>
  <strong>Assunto:</strong>
  <%= @project.assunto %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @project.descricao %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Back', projects_path %>
